@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-t3xture: #4F46E8;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-dmsans: var(--font-dmsans);
  --screen-xs: 400px;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  margin: 0;
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0D0D0E;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4F46E8;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3F38B8;
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom Styles for Calendar */

.react-calendar {
  background: transparent !important;
  border: none !important;
}

.react-calendar button {
  transition: all 0.2s ease !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: transparent !important;
  color: #6366f1 !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgba(99, 102, 241, 0.2) !important;
  color: #6366f1 !important;
}

.react-calendar__tile--active {
  background-color: rgba(99, 102, 241, 0.3) !important;
  color: #6366f1 !important;
}

.react-calendar__tile--now {
  background-color: rgba(99, 102, 241, 0.1) !important;
  color: #6366f1 !important;
}